{% extends "site_base.html" %}

{% load i18n %}
{% load pinax_calendars_tags %}

{% block head_title %}Amicale SP Contes{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
{% if request.get_host|stringformat:"s" == "www.amicalespcontes.xyz" or request.get_host|stringformat:"s" == "amicalespcontes.xyz" %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Attention!</strong><br />
    Changement de nom de domaine, L'adresse {{ request.get_host }} ne sera bientôt plus valide.<br />
    Veuillez utiliser l'adresse <a href="https://www.{{ SITE_DOMAIN }}">www.{{ SITE_DOMAIN }}</a>
</div>
{% endif %}
    <h1 class="text-center">{% blocktrans %}Planning des réservations de l'appartement de St Etienne{% endblocktrans %}</h1>
    <p class="lead">
        {% blocktrans %}
        <b>Les demandes en attente de validation</b> par l'Amicale sont surlignées en <span style="background-color: #f7b12f; color: #000000;">Orange</span>.<br/>
        <b>les demandes validées</b> par l'amicale sont surlignées en <span style="background-color: #60da11; color: #000000;">Vert</span>.<br/>
         Vous pouvez faire une demande de reservation en vous rendant sur la <a href="/reservation">page du formulaire de réservation</a>
        {% endblocktrans %}
    </p>
    {% calendar events the_date %}
{% endblock %}
