{% extends "site_base.html" %}

{% load i18n %}
{% load pinax_calendars_tags %}

{% block head_title %}Pinax Calendars Demo{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <h1 class="text-center">{% blocktrans %}Planning des reservations de l'appartement de St Valliers{% endblocktrans %}</h1>
    <p class="lead">
        {% blocktrans %}
        <b>Ce planing</b> affiche les reservations validées par l'amicale. Vous pouvez faire une demande de reservation en vous rendant sur la <a href="/reservation">page du formulaire de reservation</a>
        {% endblocktrans %}
    </p>
    {% calendar events the_date %}
{% endblock %}
