{% extends "site_base.html" %}

{% load bootstrap %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-6">
        <h1>Demande de réservation de l'appartement de St Etienne</h1>
        <p>Veuillez envoyer votre demande en précisant la periode souhaitée</p>
        <form class="form" method="post" action=".">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button class="btn btn-primary">Soumettre</button>
        </form>
    </div>
</div>

{% endblock %}
