{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <h1>Ce n'est pas nécessaire</h1>
            <p>Vous n'avez pas besoin de créer un compte pour réserver l'appartement. Cette fonctionnalité sera peut être ajoutée ultérieurement si le besoin s'en fait sentir.</p>
        </div>
        <div class="col-md-4">
            {% include "account/_signup_sidebar.html" %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
